

/*tabs in tab pane*/
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:120px;
      -fx-background-radius:0px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
      -fx-background-radius:0px;
      outline:0;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
     -fx-border-style: none;
     -fx-border-width: 0;
     -fx-border-color: transparent;
}
.tab-pane .tab
{
    -fx-background-color: #dddddd;
      -fx-background-radius:0px;

}

.tab-pane .tab:selected
{
    -fx-background-color: #dddddd;
    -fx-background-radius:0px;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
    font-weight: light;
    -fx-background-radius:0px;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #DC2929;
    -fx-background-radius:0px;
}




.chart-legend {
   -fx-background-color:#eeeeee;
    -fx-background-radius: 0;
   -fx-padding: 10px;

}

.chart-legend-item-symbol{
   -fx-background-radius: 0;
}

.chart-legend-item{
    -fx-text-fill: #000000;
}

.default-color0.chart-line-symbol  { -fx-background-color: transparent, transparent; }
.default-color1.chart-line-symbol  { -fx-background-color: transparent, transparent; }
.default-color2.chart-line-symbol  { -fx-background-color: transparent, transparent; }

.default-color0.chart-series-line { -fx-stroke: red; }
.default-color1.chart-series-line  { -fx-stroke: blue; }
.default-color2.chart-series-line  { -fx-stroke: green; }

.default-color0.chart-series-area-fill { -fx-fill: #2d2d2d}
.default-color1.chart-series-area-fill { -fx-fill: #2d2d2d; }
.default-color2.chart-series-area-fill { -fx-fill: #2d2d2d; }

.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}
.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}
.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}






.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}


.table-view .column-header-background{
    -fx-background-color: #2d2d2d;
}

.table-view .column-header-background .label{
    /*-fx-background-color: transparent;*/
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.split-pane-divider {
    -fx-padding: 0 2 0 2 ;
    -fx-background-color: #2d2d2d ;
    -fx-background-insets: 0;
}

